/doc/
/lib/
/bin/
/.shards/

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock

*.img

# Build artifacts
/run
/memrun
/handlerun
/c/*.o
/c/*.so
/c/*.a
/c/check_size
/tmp/mnt/
